# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# for MAC users
.DS_Store

# local META DB
B2META

# IDEA users
.idea
*.iml

# No dependencies
vendor
